#check {
    background-color: #ECE1D0;
    margin: 10px;
    padding: 20px;
    max-height: 300vh;
    overflow:scroll;
}

.check-container {
    background-color: #ECE1D0;
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
    margin: auto;
}

h1 {
    text-align: center;
    color: #533926;
    font-size: 50px;
}

.check-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.check-table th, .check-table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #d9d3c9;
}

.check-table th {
    background-color: #e0d7c6;
    color: #7c6f64;
    text-transform: uppercase;
    font-size: 14px;
}

.check-table td img {
    max-width: 150px;
    vertical-align: middle;
}

.check-table td div {
    display: inline-block;
    text-align: center;
}

.check-table .category {
    display: block;
    color: #7c6f64;
    font-size: 12px;
    margin-top: 5px;
}

.check-table td.price, .check-table td.total-price {
    color: #7c6f64;
}

.check-table td:nth-child(4) {
    color: #7c6f64;
    font-size: 16px;
}

.check-table td:nth-child(4) button {
    background-color: #c2a673;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

td.total-price {
    font-size: 25px;
}

.check-table td:nth-child(4) button:focus {
    outline: none;
}

.check-details {
    display: flex;
    justify-content: space-evenly;
}

.check-details-section-payment img {
    max-width: 50px;
    max-height: 25px;
    padding-right: 20px;
    padding-top: 10px;
}

.divider {
    border: #533926 3px solid;
}

.check-details-section-text a{
    color: #533926;
}

.check-details-section-total {
    display: flex;
    justify-content: space-between;
}

.check-details-section-total h2 {
    padding-right: 100px;
}

.check-details-section button {
    float: right;
    font-size: 20px;
    padding: 10px;
}

.buttons {
    padding-top: 20px;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
}

.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
}

.modal-content {
    background-color: #ECE1D0;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
